@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Melodrama";
    src: url('../public/Melodrama-Light.ttf')
}
@font-face {
    font-family: "Stardom";
    src: url('../public/Stardom-Regular.ttf')
}

:root{
    scrollbar-width:none
}

.hoverTransition{
    @apply transition ease-in-out duration-300 hover:scale-x-150 hover:scale-y-150
}