@font-face {
  font-family:'bemirs';
  src:local('bemirs'),
  url('../fonts/bemirs.otf')
}

*{
  font-family: 'General Sans';
}

#main{
  display:flex;
  
  justify-content: space-between;
}

#right{
  display:flex;
  flex-direction: column;
  /* border:1px solid; */
  justify-content: space-between;
  height:36em
  
  
}
#left{
  display:flex;
  flex-direction: column;

}
#description{
  font-size:24px;
  width:8em;
  
}

#india{
  font-weight: 500;
}
.underline-para{
  color:black
}
#title{
  font-weight:500;
  font-size:72px;
  margin:0;
}

#hero-image{
  height:700px;
  z-index:-1;
  position:absolute;
  top:10%;
  left:30%;

}
p{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root{
  margin:52px;
  background-color: #f1f1f1;
}

h1{
  font-family: bemirs;
  margin:0;
}

#links-container{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap:5px;
}

#gns{
  text-decoration: none;
  color:black;
  font-weight: 500;
}

.nav-link{
  text-decoration: none;
  color:black;
  font-size:24px;

}

h1{
  font-size:96px
}

.nav-link:hover {
  text-decoration: underline;
  font-weight:500;
  box-sizing: border-box

}

#project-title {
  font-size: 72px;
  margin:0;
  font-weight: 500;

}

#project-desc{
  font-size:20px;
  
}
#projects{
  display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#playground{
  display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#project-section{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  
}

#separator{
  width:32em;
  background-color:rgb(180, 180, 180);
  height:1px;
  margin:20px 0 20px 0px
}
#playground-title {
  font-size: 72px;
  margin:0;
  font-weight: 500;
}
#playground-desc{
  font-size:20px;
  
}
